
<div id="pizzaCard" class="pizzaCard" *ngIf="pizza">
    <img src={{pizza.pngPath}} alt="no photo">
    <div class="container"> 
        <h1 id="head"><b>{{pizza.name}}    {{pizza.price}}₪</b></h1>
        <nav>
            <a routerLink="EditPizza\{{pizza.id}}">Edit</a>
            
        </nav>
        <ul class="toppings">
            <li *ngFor="let topping of pizza.toppings">
                <span class="name">{{topping.name}}</span>
                <span class="price">{{topping.price}}</span>
            </li>
        </ul>
        <br>
        <button>Buy {{pizza.name}}</button>
    </div>

</div>
