<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="navbar">
    
        <nav>
            <img src="https://th.bing.com/th/id/R.e28dc4358e15d967cb7137e971e452cb?rik=gp9LZAU5HHCSrA&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fpc5%2fo56%2fpc5o568di.jpeg&ehk=xLrJ69OVaJQ8M%2bdvw1S3tHVx0%2b%2bgUF2m28FCiSe7Szs%3d&risl=&pid=ImgRaw&r=0" alt="no logo" height="42" width="42">
            <a routerLink="/Home">View your pizzas</a>
            <a routerLink="/Edit">Edit your pizzas</a>
        
        </nav>

    </div>
    <br><br><br>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</body>
</html>


