
.pizzaCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: max-content;
    background-color: darkslategray;
}

.pizzaCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.container h1{
    text-align: center;
    
}
.toppings .name {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #c17d1f;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}