/* You can add global styles to this file, and also import other style files */
.navbar {
  overflow: hidden;
  background-color: #cd13b1be;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar img{
  float: left;
}

.navbar a {
  float: left;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: #1c87c9;
}
.ProductList{
    overflow: hidden;
    width: 100%;
    height: 100%;
}